<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width initial-scale=1" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">

	  <title>Binárne vyhľadávanie</title>
	  <meta name="description" content="Výskum binárneho vyhľadávania.">

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>

	<body>
		<div class="container main-content">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="/">Mačičky</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			  	<ul class="navbar-nav mr-auto">
			  		<li class="nav-item active">
			      	<a class="nav-item nav-link text-nowrap active" href="{{ url_for('index') }}">Hlavná stránka <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			      	<a class="nav-item nav-link" href="{{ url_for('level0') }}">Level 1</a>
			      </li>
			    </ul>
			    <span class="navbar-text">Prihlásený ako <b>{{ user }}</b> (</span>
			    <a class="nav-item nav-link logout-link" href="{{ url_for('logout') }}">Odhlásiť sa</a>
			    <span class="navbar-text">)</span>
			  </div>
			</nav>
		</div>
	</body>

</html>