<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width initial-scale=1" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">

	  <title>Stratený kocúrik</title>
	  <meta name="description" content="Výskum binárneho vyhľadávania.">

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>

	<body>
		<div class="container main-content">

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="{{ url_for('index') }}">Stratený kocúrik</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			  	<ul class="navbar-nav mr-auto">
			  		<li class="nav-item">
			      	<a class="nav-item nav-link" href="{{ url_for('index') }}">Hlavná stránka</a>
			      </li>
			      <li class="nav-item">
			      	<a class="nav-item nav-link" href="{{ url_for('level0') }}">Agátová ulica</a>
			      </li>
			      <li class="nav-item active">
			      	<a class="nav-item nav-link active" href="{{ url_for('level1') }}">Biela ulica</a>
			      </li>
			      <li class="nav-item">
			      	<a class="nav-item nav-link" href="{{ url_for('level2') }}">Cesnaková ulica</a>
			      </li>
			    </ul>
			    <span class="navbar-text">Prihlásený ako <b>{{ user }}</b> (</span>
			    <a class="nav-item nav-link logout-link" href="{{ url_for('logout') }}">Odhlásiť sa</a>
			    <span class="navbar-text">)</span>
			  </div>
			</nav>

			<br/>
			<h2>Vitajte na Bielej ulici!</h2>
			<p>Na tejto ulici sa nachádza <strong>1000</strong> domov očíslovaných od 1 po 1000. V jednom z nich býva aj kocúr Murko, ktorý má na obojku číslo 10&nbsp;000. V každom dome býva jeden kocúr s číslom na obojku a pri návšteve domu vám toto číslo povedia.<br/>Navyše platí, že <strong>čím vyššie číslo domu, tým vyššia hodnota čísla na obojku</strong>. Ak by ste si teda zapísali hodnoty na obojkoch pre všetky domy od 1 po 1000, zapísané čísla by sa <strong>zväčšovali</strong>. Dajte si však pozor, toto zväčšovanie nemusí byť rovnomerné, ba práve naopak, bude sa vás snažiť čo najviac zmiasť.</p>
			
			<p><em>Ak Murka nájdete na 11 návštev, získate 4 body. Ak ho nájdete na najviac 13 návštev, získate 3 body. Ak ho nájdete na najviac 24 návštev, získate 2 body. Inak pri nájdení získate 1 bod.</em></p>

			{% if best_result != -1 %}
				<p>Zatiaľ najlepší dosiahnutý výsledok na tejto ulici je {{ best_result }} návštev.</p>
			{% endif %}

			<div class="row">

				<div class="col-sm-6">
					<form action = "{{ url_for('level1') }}" method = "POST">
						<h3>Zadaj číslo domu, ktorý chceš navštíviť:</h3>
						<input type = "number" name = 'value' autofocus/> <br/>
						<button type = "submit" class = "btn btn-primary">Navštív</button> <br/>
					</form>
					{% with messages = get_flashed_messages(with_categories=true) %}
			    	{% if messages %}
			       	{% for category, message in messages %}
		       			<div class="alert alert-{{category}}" role="alert">
		       				{{ message}}
		       			</div>
			       	{% endfor %}
			    	{% endif %}
				  {% endwith %}
				  <br/> <br/>

					{% if last_guess != -1 %}
						<h3>Vitaj v dome číslo {{ last_guess[0] }}</h3>

						{% if last_guess[1] != location %}
							<h4>V tomto dome býva kocúr s číslom <strong>{{ last_guess[1] }}</strong></h4>
						{% else %}
							<h4>Gratulujem, v tomto dome býva kocúr Murko.</h4>
						{% endif %}

						<img src="{{ cat_link }}" style="max-width: 100%" />

					{% endif %}

				</div>

				<div class="col-sm-6">

					<ul>
						{% for value, result in guesses %}
							{% if result != location %}
								<li>V dome {{ value }} ti povedali, že v ňom býva kocúr s číslom <strong>{{ result }}</strong>.</li>
							{% else %}
								<li>V dome {{ value }} býva kocúr Murko.</li>
							{% endif %}
						{% endfor %}
					</ul>

				</div>
			</div>

			<br/> <br/>
			<a class="btn btn-warning" href = "{{ url_for('reset_attempt', level = 1) }}">Restartuj</a>

		</div>
	</body>
</html>
